extends layout

block layout-content
  div.View
    h1.Banner Journal
    div.Message
      div.Title
        h3 Making the Best
        h1 Journal
      span.Details Interactive Journal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!